h1{font-size: 20px, color: blue;}

p{
width: 50px;
padding-left: 30px;
padding-right: 30px;
padding-top: 15px;
padding-bottom: 15px;
margin-left: auto;
margin-right: auto;
border: 3px green solid;
border-radius: 10px;
}
